.App {
  font-family: sans-serif;
  text-align: center;
}
.w-90 {
  width: 90%;
}
.page_grid{
  justify-content: center;
  /* margin-top: 5%; */
  /* margin-left: 5%; */
}
.profile_page_grid{
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
}
.player-window{
  max-height: 85vh;
  max-width: 70vw;
}
.form-control{
  max-width: 30vw;
}
.spy-pic{
  max-width: 20vw;
}
.head-text {
  position: relative;
}
.txt-on-image {
 position: absolute;
 left: 10 !important; 
 z-index: 10;
}
.image-box{
  max-width: 20vw;
  position: relative;
}
.button-on-image{
  max-width: 80%;
}
.cancel-button-on-image{
  margin-left: 20%;
  max-width: 10%;
}